<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>



<form method="post" action="/contact">
	<INPUT type="text" name="who" />
<input type="email" name="email" />
<input type="submit" value="submit" />
</form>

</body>
</html>